<!DOCTYPE html>
<html>
<head>
	<title>Signupform</title>
	<link rel="stylesheet" type="text/css" href="static/isign.css">
	<link href="static/cssimage/favicon.ico" rel="icon">
</head>
<body>
	<form action="signup" method="post">
		<div class="main"><!-- main -->
			<div class="r1">
				Sign Up
			</div>
			<div class="r2">
				<div class="r2c2">
					<div class="r2c2main">
						<input type="file" name="image" placeholder="upload" required=""/>
					</div>
					<div class="r2c2main">
						<input type="text" name="name" placeholder="Enter name here.." required=""/>
					</div>
					<div class="r2c2main">
						<input type="email" name="email" placeholder="Email.." required=""/>
					</div>
					<div class="r2c2main">
						<input type="password" name="password" placeholder="password" required="" min="5" maxlength="20" />
					</div>
					<div class="r2c2main">
						<input type="password" name="confirm password" placeholder="password" required="" min="5" maxlength="20"/>
					</div>
				</div>
			</div>
			<div class="r3">
				Alreade a member? <a href="https://github.com/Suhailkhan12/trial" target="_blank"> Log In </a>
			</div>
			<div class="r4">
				<div class=r4c2>
					<input type="submit" value="Sign UP"/>
				</div>
			</div>
			<div></div>
		</div>		
	</form>
</body>
</html>